/* ---------------------------------------------------------------------------
   Light Style for PYCM Console
--------------------------------------------------------------------------- */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-style: none;
  border-image: none;
  outline: 0;
  font-family: "Alibaba PuHuiTi";
}

QToolBar * {
  margin: 0px;
  padding: 0px;
}

QWidget {
  background-color: #FAFAFA;
  border: 0px solid #DADADA;
  padding: 0px;
  color: #333333;
  selection-background-color: #0078D4;
  selection-color: #FFFFFF;
}

QWidget:disabled {
  background-color: #FAFAFA;
  color: #A0A0A0;
  selection-background-color: #B0B0B0;
  selection-color: #FFFFFF;
}

QWidget::item:selected {
  background-color: #0078D4;
}

QWidget::item:hover:!selected {
  background-color: #E5F1FB;
}

QMainWindow::separator {
  background-color: #DADADA;
  border: 0px solid #FAFAFA;
  spacing: 0px;
  padding: 2px;
}

QMainWindow::separator:hover {
  background-color: #0078D4;
  border: 0px solid #0078D4;
}

QMainWindow::separator:horizontal {
  width: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

QMainWindow::separator:vertical {
  height: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

QToolTip {
  background-color: #FFFFFF;
  color: #333333;
  border: 1px solid #DADADA;
  padding: 4px;
}

QStatusBar {
  border: 1px solid #DADADA;
  background: #F0F0F0;
}

QStatusBar::item {
  border: none;
}

QStatusBar QLabel {
  background: transparent;
}

QCheckBox {
  background-color: #FAFAFA;
  color: #333333;
  spacing: 4px;
  outline: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

QCheckBox:focus {
  border: none;
}

QCheckBox QWidget:disabled {
  background-color: #FAFAFA;
  color: #A0A0A0;
}

QCheckBox::indicator {
  margin-left: 2px;
  height: 14px;
  width: 14px;
}

QGroupBox {
  font-weight: bold;
  border: 1px solid #DADADA;
  border-radius: 4px;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 4px;
}

QGroupBox::title {
  subcontrol-origin: margin;
  subcontrol-position: top center;
  top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: -4px;
}

QRadioButton {
  background-color: #FAFAFA;
  color: #333333;
  spacing: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  outline: none;
}

QRadioButton:disabled {
  background-color: #FAFAFA;
  color: #A0A0A0;
  border: none;
  outline: none;
}

QMenuBar {
  background-color: #F0F0F0;
  padding: 2px;
  border: 1px solid #DADADA;
  color: #333333;
  selection-background-color: #0078D4;
}

QMenuBar:focus {
  border: 1px solid #0078D4;
}

QMenuBar::item {
  background: transparent;
  padding: 4px;
}

QMenuBar::item:selected {
  padding: 4px;
  background: transparent;
  border: 0px solid #DADADA;
  background-color: #E5F1FB;
}

QMenuBar::item:pressed {
  padding: 4px;
  border: 0px solid #DADADA;
  background-color: #0078D4;
  color: #FFFFFF;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

QMenu {
  border: 1px solid #DADADA;
  color: #333333;
  margin: 0px;
  background-color: #FFFFFF;
  selection-background-color: #0078D4;
}

QMenu::separator {
  height: 1px;
  background-color: #DADADA;
  color: #333333;
}

QMenu::item {
  background-color: #FFFFFF;
  padding: 4px 24px 4px 24px;
  border: 1px transparent #DADADA;
}

QMenu::item:selected {
  color: #FFFFFF;
  background-color: #0078D4;
}

QMenu::item:pressed {
  background-color: #0078D4;
}

QMenu::icon {
  padding-left: 10px;
  width: 14px;
  height: 14px;
}

QMenu::right-arrow {
  margin: 5px;
  padding-left: 12px;
  height: 12px;
  width: 12px;
}

QAbstractItemView {
  alternate-background-color: #FAFAFA;
  color: #333333;
  border: 1px solid #DADADA;
  border-radius: 4px;
}

QAbstractItemView QLineEdit {
  padding: 2px;
}

QAbstractScrollArea {
  background-color: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 4px;
  padding: 2px;
  color: #333333;
}

QAbstractScrollArea:disabled {
  color: #A0A0A0;
}

QScrollArea QWidget QWidget:disabled {
  background-color: #FAFAFA;
}

QScrollBar:horizontal {
  height: 16px;
  margin: 2px 16px 2px 16px;
  border: 1px solid #DADADA;
  border-radius: 4px;
  background-color: #F0F0F0;
}

QScrollBar:vertical {
  background-color: #F0F0F0;
  width: 16px;
  margin: 16px 2px 16px 2px;
  border: 1px solid #DADADA;
  border-radius: 4px;
}

QScrollBar::handle:horizontal {
  background-color: #C0C0C0;
  border: 1px solid #DADADA;
  border-radius: 4px;
  min-width: 8px;
}

QScrollBar::handle:horizontal:hover {
  background-color: #0078D4;
  border: #0078D4;
  border-radius: 4px;
  min-width: 8px;
}

QScrollBar::handle:vertical {
  background-color: #C0C0C0;
  border: 1px solid #DADADA;
  min-height: 8px;
  border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
  background-color: #0078D4;
  border: #0078D4;
  border-radius: 4px;
  min-height: 8px;
}

QScrollBar::add-line:horizontal {
  margin: 0px 0px 0px 0px;
  height: 12px;
  width: 12px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
  margin: 3px 0px 3px 0px;
  height: 12px;
  width: 12px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
  margin: 0px 3px 0px 3px;
  height: 12px;
  width: 12px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
  margin: 3px 0px 3px 0px;
  height: 12px;
  width: 12px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
  background: none;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
  background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: none;
}

QTextEdit {
  background-color: #FFFFFF;
  color: #333333;
  border-radius: 4px;
  border: 1px solid #DADADA;
}

QTextEdit:focus {
  border: 1px solid #0078D4;
}

QTextEdit:selected {
  background: #0078D4;
  color: #FFFFFF;
}

QPlainTextEdit {
  background-color: #FFFFFF;
  color: #333333;
  border-radius: 4px;
  border: 1px solid #DADADA;
}

QPlainTextEdit:focus {
  border: 1px solid #0078D4;
}

QPlainTextEdit:selected {
  background: #0078D4;
  color: #FFFFFF;
}

QSizeGrip {
  background: transparent;
  width: 12px;
  height: 12px;
}

QStackedWidget {
  padding: 2px;
  border: 1px solid #DADADA;
}

QToolBar {
  background-color: #F0F0F0;
  border-bottom: 1px solid #DADADA;
  padding: 1px;
  font-weight: bold;
  spacing: 2px;
}

QToolBar:disabled {
  background-color: #F0F0F0;
}

QAbstractSpinBox {
  background-color: #FFFFFF;
  border: 1px solid #DADADA;
  color: #333333;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

QAbstractSpinBox:hover {
  border: 1px solid #0078D4;
  color: #333333;
}

QAbstractSpinBox:focus {
  border: 1px solid #0078D4;
}

QLabel {
  background-color: #FAFAFA;
  border: 0px solid #DADADA;
  padding: 2px;
  margin: 0px;
  color: #333333;
}

QLabel:disabled {
  background-color: #FAFAFA;
  border: 0px solid #DADADA;
  color: #A0A0A0;
}

QTextBrowser {
  background-color: #FFFFFF;
  border: 1px solid #DADADA;
  color: #333333;
  border-radius: 4px;
}

QTextBrowser:disabled {
  background-color: #FAFAFA;
  border: 1px solid #DADADA;
  color: #A0A0A0;
  border-radius: 4px;
}

QTextBrowser:hover, QTextBrowser:!hover, QTextBrowser:selected, QTextBrowser:pressed {
  border: 1px solid #DADADA;
}

QGraphicsView {
  background-color: #FFFFFF;
  border: 1px solid #DADADA;
  color: #333333;
  border-radius: 4px;
}

QCalendarWidget {
  border: 1px solid #DADADA;
  border-radius: 4px;
}

QLCDNumber {
  background-color: #FFFFFF;
  color: #333333;
}

QProgressBar {
  background-color: #F0F0F0;
  border: 1px solid #DADADA;
  color: #333333;
  border-radius: 4px;
  text-align: center;
}

QProgressBar::chunk {
  background-color: #0078D4;
  color: #FFFFFF;
  border-radius: 4px;
}

QPushButton {
  background-color: #E0E0E0;
  color: #333333;
  border-radius: 4px;
  padding: 6px 6px;
  height: 21px;
  outline: none;
  border: 1px solid #C0C0C0;
}

QPushButton:disabled {
  background-color: #F0F0F0;
  color: #A0A0A0;
  border-radius: 4px;
  padding: 2px;
}

QPushButton:checked {
  background-color: #0078D4;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 2px;
  outline: none;
}

QPushButton:checked:disabled {
  background-color: #B0B0B0;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 2px;
  outline: none;
}

QPushButton:hover {
  background-color: #D0D0D0;
  color: #333333;
}

QPushButton:pressed {
  background-color: #0078D4;
  color: #FFFFFF;
}

QPushButton:selected {
  background: #0078D4;
  color: #FFFFFF;
}

QDialogButtonBox QPushButton {
  min-width: 80px;
}

QToolButton {
  background-color: #E0E0E0;
  color: #333333;
  border-radius: 4px;
  padding: 2px;
  outline: none;
  border: 1px solid #C0C0C0;
}

QToolButton:disabled {
  background-color: #F0F0F0;
  color: #A0A0A0;
  border-radius: 4px;
  padding: 2px;
}

QToolButton:checked {
  background-color: #0078D4;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 2px;
  outline: none;
}

QToolButton:hover {
  background-color: #D0D0D0;
  color: #333333;
}

QToolButton:pressed {
  background-color: #0078D4;
  color: #FFFFFF;
}

QComboBox {
  border: 1px solid #DADADA;
  border-radius: 4px;
  selection-background-color: #0078D4;
  padding-left: 4px;
  padding-right: 4px;
  min-height: 1.5em;
  background-color: #FFFFFF;
}

QComboBox QAbstractItemView {
  border: 1px solid #DADADA;
  border-radius: 0;
  background-color: #FFFFFF;
  selection-background-color: #0078D4;
}

QComboBox:disabled {
  background-color: #F0F0F0;
  color: #A0A0A0;
}

QComboBox:hover {
  border: 1px solid #0078D4;
}

QComboBox:focus {
  border: 1px solid #0078D4;
}

QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 12px;
  border-left: 1px solid #DADADA;
}

QLineEdit {
  background-color: #FFFFFF;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-style: solid;
  border: 1px solid #DADADA;
  border-radius: 4px;
  color: #333333;
}

QLineEdit:disabled {
  background-color: #F0F0F0;
  color: #A0A0A0;
}

QLineEdit:hover {
  border: 1px solid #0078D4;
  color: #333333;
}

QLineEdit:focus {
  border: 1px solid #0078D4;
}

QLineEdit:selected {
  background-color: #0078D4;
  color: #FFFFFF;
}

QTabWidget {
  padding: 2px;
  selection-background-color: #DADADA;
}

QTabWidget QWidget {
  border-radius: 4px;
}

QTabWidget::pane {
  border: 1px solid #DADADA;
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
}

QTabBar {
  qproperty-drawBase: 0;
  border-radius: 4px;
  margin: 0px;
  padding: 2px;
  border: 0;
}

QTabBar::tab:top {
  background-color: #E0E0E0;
  margin-left: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 5px;
  border-bottom: 3px solid #E0E0E0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

QTabBar::tab:top:selected {
  background-color: #FFFFFF;
  border-bottom: 3px solid #0078D4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

QTabBar::tab:top:!selected:hover {
  border: 1px solid #0078D4;
  border-bottom: 3px solid #0078D4;
  padding-left: 3px;
  padding-right: 3px;
}

QDockWidget {
  outline: 1px solid #DADADA;
  background-color: #FAFAFA;
  border: 1px solid #DADADA;
  border-radius: 4px;
}

QDockWidget::title {
  padding: 3px;
  spacing: 4px;
  border: none;
  background-color: #F0F0F0;
}

QTreeView,
QListView,
QTableView,
QColumnView {
  background-color: #FFFFFF;
  border: 1px solid #DADADA;
  color: #333333;
  gridline-color: #DADADA;
  border-radius: 4px;
}

QTreeView:disabled,
QListView:disabled,
QTableView:disabled,
QColumnView:disabled {
  background-color: #FAFAFA;
  color: #A0A0A0;
}

QTreeView:selected,
QListView:selected,
QTableView:selected,
QColumnView:selected {
  background-color: #0078D4;
  color: #FFFFFF;
}

QTreeView:focus,
QListView:focus,
QTableView:focus,
QColumnView:focus {
  border: 1px solid #0078D4;
}

QTreeView::item:pressed,
QListView::item:pressed,
QTableView::item:pressed,
QColumnView::item:pressed {
  background-color: #0078D4;
}

QTreeView::item:selected:active,
QListView::item:selected:active,
QTableView::item:selected:active,
QColumnView::item:selected:active {
  background-color: #0078D4;
}

QTreeView::item:selected:!active,
QListView::item:selected:!active,
QTableView::item:selected:!active,
QColumnView::item:selected:!active {
  color: #333333;
  background-color: #E5F1FB;
}

QTreeView::item:!selected:hover,
QListView::item:!selected:hover,
QTableView::item:!selected:hover,
QColumnView::item:!selected:hover {
  outline: 0;
  color: #333333;
  background-color: #E5F1FB;
}

QTableCornerButton::section {
  background-color: #FAFAFA;
  border: 1px transparent #DADADA;
  border-radius: 0px;
}

QHeaderView {
  background-color: #F0F0F0;
  border: 0px transparent #DADADA;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

QHeaderView::section {
  background-color: #F0F0F0;
  color: #333333;
  border-radius: 0;
  text-align: left;
  font-size: 13px;
}

QHeaderView::section::horizontal {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  border-left: 1px solid #DADADA;
}

QHeaderView::section::vertical {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  border-top: 1px solid #DADADA;
}

.QFrame {
  border-radius: 4px;
  border: 1px solid #DADADA;
}

.QFrame[frameShape="0"] {
  border-radius: 4px;
  border: 1px transparent #DADADA;
}

.QFrame[frameShape="4"] {
  max-height: 2px;
  border: none;
  background-color: #DADADA;
}

.QFrame[frameShape="5"] {
  max-width: 2px;
  border: none;
  background-color: #DADADA;
}

QSplitter {
  background-color: #DADADA;
  spacing: 0px;
  padding: 0px;
  margin: 0px;
}

QSplitter::handle {
  background-color: #DADADA;
  border: 0px solid #FAFAFA;
  spacing: 0px;
  padding: 1px;
  margin: 0px;
}

QSplitter::handle:hover {
  background-color: #0078D4;
}

QSplitter::handle:horizontal {
  width: 5px;
}

QSplitter::handle:vertical {
  height: 5px;
}

QMessageBox {
  font-size: 16px;
}
